#subtitle{
  font-family: "Poppins";
  font-size: 20px;
  color: whitesmoke;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
  width: fit-content;
  text-transform: uppercase;
  width: 100%;
  padding-left: 8%;
}