#about{
  font-family: "Poppins";
  font-size: 1.3vw;
  font-weight: 400;
  text-align: center;
  margin: 8px 0 0 0;
  color: whitesmoke;
  padding: 0 1vw;

  #nombretexto{
      font-family: "Oooh Baby", cursive;
      font-size: 1.75vw;

      @media screen and (max-width: 650px) {
        font-size: 2.3vw;
      }
      @media screen and (max-width: 500px){
        font-size: 2.8vw;
      }
  }
  .sorprendentes{
      color: hsla(302, 47%, 55%, 1);
      font-family: "Alkatra";
      font-weight: 1000;
      font-size: 1.6vw;
      letter-spacing: 0.5px;

      @media screen and (max-width: 650px) {
        font-size: 2.1vw;
      }
      @media screen and (max-width: 500px){
        font-size: 2.4vw;
      }
  }

  @media screen and (max-width: 650px) {
    font-size: 1.7vw;
    padding: 0 2vw;
  }
  @media screen and (max-width: 500px){
    font-size: 2vw;
  }
}