#about{
  font-family: "Poppins";
  font-size: 1.3vw;
  font-weight: 400;
  text-align: center;
  margin: 8px 0 0 0;
  color: whitesmoke;
  padding: 0 1vw;

  #nombretexto{
      /* color: red; */
      font-family: "Oooh Baby", cursive;
      font-size: 1.75vw;
  }
  .sorprendentes{
      color: hsla(302, 47%, 55%, 1);
      font-family: "Alkatra";
      font-weight: 1000;
      font-size: 1.6vw;
      letter-spacing: 0.5px;
  }
}