#icons-list{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;

  @media screen and (max-width: 800px) {
    gap: 1.5rem;
  }
}

.icons{
  width: 2vw;
  list-style: none;

  @media screen and (max-width: 650px){
    width: 3vw;
  }
  @media screen and (max-width: 500px){
    width: 4.5vw;
  }

}

.icons > img{
  width: 100%;
}