#toggle-component{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: rgb(242, 242, 242, 0.1);
  border-radius: 25px;
  padding: 5px 5px;
  background-color: #2D2D2D;
  height: 4vw;
  max-height: 5.3vh;

  @media screen and (max-width: 650px) {
    min-height: calc(20px + 1.4vw);
  }
}

#work-side-toggle, #about-side-toggle{
  height: 100%;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.4vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 450px) {
    font-size: 1.9vw;
  }
}

#work-side-toggle:active, #about-side-toggle:active{
  background-color: gray;
      transition: box-shadow 1s cubic-bezier(.23, 1, .32, 1), border .6s cubic-bezier(.165, .84, .44, 1);
}